body {
    margin: 200px 0 0 300px;
    font-family: 'Montserrat';
    -webkit-filter: blur(0.01px);
    filter: blue(1px);
}

.headshot {

    width: 200px; 
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 3px 3px;
}

.links-header {
    margin-bottom: 5px;
}