body {
    margin: 10% 0 0 10%;
    font-family: 'Montserrat';
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.headshot {

    width: 200px; 
    height: auto;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 3px 3px;
}

.links-header {
    margin-bottom: 5px;
}

div { 
    display: inline-block;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    box-shadow: 
    -5px 0px 5px 0px rgba(0,0,0,0.2),   /* left shadow */
    0px 5px 5px 0px rgba(0,0,0,0.2);    /* bottom shadow */
}