@font-face {
    font-family: "Berkeley Mono";
    src: url("assets/fonts/TX-02-Regular.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .main-content,
    .screenshot-display {
        display: none;
    }

    .mobile-gif {
        display: block;
    }
}

.mobile-gif {
    display: none;
}

body {
    margin: 10% 0 0 10%;
    font-family: "Montserrat";
    font-size: 15px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.main-content {
    position: relative;
    display: inline-block;
    padding: 45px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.headshot {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-family: "Berkeley Mono", monospace;
    color: black;
    display: inline;
    margin: 3px 3px;
    font-size: 18px;
}

a:hover {
    -webkit-filter: none;
    filter: none;
    color: blue;
}
.links-header {
    margin-bottom: 5px;
}

.screenshot-display {
    position: absolute;
    width: 75vh;
    height: auto;
    margin-top: 20px;
    display: none;
    top: 200px;
    left: 750px;
    z-index: 1000;
}

.screenshot-display img {
    max-width: 100%;
    height: auto;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}
